//
//
//
// ANIMACION PRINCIPAL

.imggamers {
    height: 600px;
    width: 600px;
    animation: gamers 3s ease-in infinite alternate-reverse;
    align-self: start;
}
@keyframes gamers {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-60px);
    }
}

.animacionprincipal {
display: grid;
grid-template-columns: 1fr 1fr;
padding-top: 100px;
padding-left: 40px;
}
.contenedorlan {
    grid-column: 2/3;
}

.contenedortexto {
    font-size: 25px;
    grid-column: 1/2;
    padding: 1.5rem 2rem;
    height: 450px;
    padding-left: 20px;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    white-space: pre-line;
    background-color: $colorprincipal;
    border-radius: 20px;     
    box-shadow: 0 4px 15px rgba(149, 149, 149, 0.2);
    color: white;
    animation: aparecer 1s ease forwards;
    opacity: 0;
}

@keyframes aparecer {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
// FIN ANIMACION PRINCIPAL
//
//
//
//
// SEGUNDO TITULO
.contenedortitulo{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.segundotituloh{
    font-size: 50px;
    font-family: $letra;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}
//FIN SEGUNDO TITULO//
//
//
//
//
//
//COMIENZO TARJETAS
.tarjetas {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 60px;
    gap: 5px 5px;
    
}
.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.card:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }
.card-body {
    background-color: $colorprincipal;
}
.card-title {
    font-size: $letra;
    color: white;
}
.card-body h5 {
    color: white;
}
.card-body p {
    color: white;
}
.card-body a {
    display: flex;
    justify-content: center;
}
// FIN CONTENIDO TARJETAS
//
//
//
//
//
// TERCER TITULO h2
.contenedortitulotres {
    @extend .contenedortitulo;
}

.titulotres {
    @extend .segundotituloh;
}

// FIN TERCER TITULO h2
// //
// //
// //
// //
// //
// //Contendio mas vendio y/o consultado

.contenedormasvendido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 50px;
    row-gap: 20px;
}


// INICIO CUARTO TITULO JUEGO EN OFERTA DEL MES
.contenedorcuartotitulo{
    @extend .contenedortitulotres;
}
.cuartotituloh {
    @extend .titulotres;
}

.fuego {
    animation: flame 0.8s infinite alternate ease-in-out;
    display: inline-block;
  }
  
  @keyframes flame {
    0% {
      transform: translateY(0) scale(1);
      filter: drop-shadow(0 0 5px orange);
    }
    100% {
      transform: translateY(-5px) scale(1.1);
      filter: drop-shadow(0 0 15px red);
    }
  }
// FIN CUARTO TITULO JUEGO EN OFERTA DEL MES
//
//
//
//
//INICIO IMAGEN JUEGO EN OFERTA DEL MES

.juegooferta {
    width: 100%;
    display: block;
    border-radius: 10px;
    
}

.contenedorjuegooferta {
    position: relative;
    display: inline-block;
}

.botonoferta {
    display: flex;
    justify-content: center;
}
.contenedorjuegooferta a {
    position: absolute;
    bottom: 20px;
    right: 590px;
    width: 350px;
    height: 50px;
    display: flex;
}

.textojuego {
    position: absolute;
    left: 310px;
    top: 50px;
    color: white;
    font-family: $letra;
}
.mature {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 700px;
    right: 500px;

}

.infojuego {
position: absolute;
font-family: $letra;
top: 725px;
right: 30px;
font-size: 18px;
color: white;
}
//FIN DEL JUEGO EN OFERTA DEL MES
//
//
//
//
//FIN DEL PRINCIPAL MAIN
//COMIENDO DE _FOOTER